
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #9ca3af; 
  border-radius: 4px;
  opacity: 0.5;
}
.dark ::-webkit-scrollbar-thumb {
  background: #4b5563; 
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280; 
}
